<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokédex</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <style>
      h1 {
        text-align: center;
        font-family: "Press Start 2P";
      }
      .new {
        text-align: center;
      }
      .individual {
        width: 150px;
        height: auto;
        /* border: 1px solid black; */
        border-radius: 25px;
      }
      img {
        width: 500px;
        height: auto;
        margin-top: 5px;
      }
    </style>
  </head>
  <body>
    <h1><img src="https://i.imgur.com/3JH8LWh.png" /></h1>
    <br />
    <div class="newbutton">
      <form class="new" action="/pokemon/new/">
        <button>New Pokémon</button>
      </form>
      <br />
    </div>
    <div class="">
      <% for (let i=0 ; i < pokemon.length ; i++) { %>
      <a href="/pokemon/<%= i %>"
        ><img
          class="individual"
          src="<%=pokemon[i].img%>"
          height="150"
          width="auto"
      /></a>
      <a href="/pokemon/<%= i %>"></a>

      <% } %>
    </div>
    <div class="newbutton">
      <form class="new" action="/pokemon/new/">
        <button>New Pokémon</button>
      </form>
      <br />
    </div>
  </body>
</html>
