<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
    </style>
    <style>
      body {
        font-family: "Press Start 2P";
      }
    </style>
    <title>New Pokémon Page</title>
  </head>
  <body>
    <h1>New Pokémon Page</h1>
    <form action="/pokemon" method="POST">
      <input placeholder="name" type="text" name="name" /><br />
      <p></p>
      <input placeholder="id" type="number" name="id" /><br />
      <p></p>
      <label for="type"></label>
      <select id="type" name="type">
        <option value="" disaled selected>Type</option>
        <option value="Grass">Grass</option>
        <option value="Fire">Fire</option>
        <option value="Water">Water</option>
        <option value="Bug">Bug</option>
        <option value="Normal">Normal</option>
        <option value="Poison">Poison</option>
        <option value="Electric">Electric</option>
        <option value="Ground">Ground</option>
        <option value="Fairy">Fairy</option>
        <option value="Fighting">Fighting</option>
        <option value="Psychic">Psychic</option>
        <option value="Rock">Rock</option>
        <option value="Ghost">Ghost</option>
        <option value="Ice">Ice</option>
        <option value="Dragon">Dragon</option>
      </select>
      <p></p>
      <input placeholder="height" type="text" name="height" /><br />
      <p></p>
      <input placeholder="weight" type="number" name="weight" /><br />
      <p></p>
      <input placeholder="hp" type="number" name="hp" /> <br />
      <p></p>
      <input placeholder="attack" type="number" name="attack" />
      <br />
      <p></p>
      <input placeholder="defense" type="number" name="defense" />
      <br />
      <p></p>
      <input placeholder="special attack" type="number" name="spattack" />
      <br />
      <p></p>
      <input placeholder="special defense" type="number" name="spdefense" />
      <br />
      <p></p>
      <input placeholder="speed" type="number" name="speed" />
      <br />
      <p></p>
      <input type="submit" value="Create Pokémon" />
    </form>
  </body>
</html>
