<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Pokémon Page</title>
  </head>
  <body>
    <h1>New Pokémon Page</h1>
    <form action="/pokemon" method="POST">
      Name: <input type="text" name="name" /><br />
      <p></p>
      ID: <input type="number" name="id" /><br />
      <p></p>
      Type: <input type="text" name="type" /> <br />
      <p></p>
      Height: <input type="text" name="misc.height" /><br />
      <p></p>
      Weight: <input type="number" name="misc.weight" /><br />
      HP: <input type="number" name="stats.hp" /> <br />
      <p></p>
      Attack: <input type="number" name="stats.attack" /> <br />
      <p></p>
      Defense: <input type="number" name="stats.defense" /> <br />
      <p></p>
      Special Attack: <input type="number" name="stats.spattack" /> <br />
      <p></p>
      Special Defense: <input type="number" name="stats.spdefense" /> <br />
      <p></p>
      Speed: <input type="number" name="stats.speed" /> <br />
      <p></p>
      <input type="submit" value="Create Pokémon" />
    </form>
  </body>
</html>
