<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Pokémon Page</title>
  </head>
  <body>
    <h1>New Pokémon Page</h1>
    <form action="/pokemon" method="POST">
      Name: <input type="text" name="name" /><br />
      <p></p>
      ID: <input type="number" name="id" /><br />
      <p></p>
      Type: <input type="text" name="type" /> <br />
      <p></p>
      Height: <input type="text" name="height" /><br />
      <p></p>
      Weight: <input type="nunber" name="weight" /><br />
      HP: <input type="number" name="hp" /> <br />
      <p></p>
      Attack: <input type="number" name="attack" /> <br />
      <p></p>
      Defense: <input type="number" name="defense" /> <br />
      <p></p>
      Special Attack: <input type="number" name="spattack" /> <br />
      <p></p>
      Special Defense: <input type="number" name="spdefense" /> <br />
      <p></p>
      Speed: <input type="number" name="speed" /> <br />
      <p></p>
    </form>
  </body>
</html>
